<h1 style="margin-bottom: 40px;">Cocktails</h1>
<% @cocktails.each do |cocktail| %>
  <div class="card">
    <%= link_to cocktail, class: "card-link" do %>
      <%= cocktail.name %>
    <% end %>
  </div>
<% end %>
